<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un client à la location</title>
    <link rel="stylesheet" href="../../../css/bootstrap.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../../css/styles.css" crossorigin="anonymous" />
</head>
<body>
<div class="container bg-light p-3 rounded">
    <h1 class="mt-3">Ajouter un client à la location</h1>
    <a th:href="@{/location/details/{id}(id=${location.id})}" class="btn btn-secondary">Retour</a>
    <h2 class="mt-3">Clients disponibles</h2>
    <form method="post" th:action="@{/location/{id}/ajoutClient/(id=${location.id})}">
        <fieldset>
            <div class="form-check" th:each="client : ${ajoutClient}">
                <input class="form-check-input" type="radio" name="clientId" th:value="${client.id}" id="client-${client.id}" />
                <label class="form-check-label" for="client-${client.id}" th:text="${client.nom + ' ' + client.prenom}"></label>
            </div>
        </fieldset>
        <br>
        <input type="submit" value="Ajouter le client" class="btn btn-primary">
    </form>
</div>
</body>
</html>